body {
  font-family: 'Pragati Narrow', sans-serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.shop-card {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  box-shadow: -1px 5px 13px 0px rgba(0,0,0,0.3);
}

.card-title {
  font-size: 24px;
  text-transform: uppercase;
}

.card-body {
  text-align: center;
}

.card-price {
  color: var(--bs-red);
  font-weight: bold;
  font-size: 20px;
}

.card-btn {
  border-radius: 20px;
  border-width: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
;}

.card-bottom {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 165px;
}

.onSwitch {
  text-align: right;
  margin-bottom: 20px;
}
